<div class="widget about-me">
	<div class="widget-content">
		<div class="flip-container">
			<div class="flip clearfix">
				<div class="front">
					<div class="avatar">
						<img src="/shared/img/user-image.png" alt=""/>
					</div>
					<div class="info">
						<h3 class="name"></h3>
						<div class="bio">Your Bio Here</div>
						<a href="#" class="flip-detail">More Detail &rarr;</a>
					</div>
				</div>
			</div>
		</div>
		<div class="flip-data">
			<div class="back">
				<div class="content">
					<h3 class="title">My Skills</h3>
					<ul class="skills">
						<li>Web Design</li>
						<li>C#</li>
						<li>jQuery</li>
						<li>PHP</li>
						<li>Html5</li>
						<li>Css3</li>
						<li>Wordpress</li>
						<li>Ghost</li>
					</ul>
					<h3 class="title">Connect Me</h3>
					<ul class="social">
	                    <li class="twitter">
	                        <a href="#" target="_blank" title="Twitter">
	                            <i class="fa fa-twitter"></i>
	                        </a>
	                    </li>
	                    <li class="facebook">
	                        <a href="#" target="_blank" title="Facebook">
	                            <i class="fa fa-facebook"></i>
	                        </a>
	                    </li>
	                    <li class="google">
	                        <a href="#" target="_blank" title="Google">
	                            <i class="fa fa-google-plus"></i>
	                        </a>
	                    </li>
	                    <li class="linkedin">
	                        <a href="#" target="_blank" title="Linkedin">
	                            <i class="fa fa-linkedin"></i>
	                        </a>
	                    </li>
	                    <li class="skype">
	                        <a href="#" target="_blank" title="Skype">
	                            <i class="fa fa-skype"></i>
	                        </a>
	                    </li>
	                </ul>
	                <a href="#" class="flip-back">&larr; Back</a>
				</div>
			</div>
		</div>
	</div>
</div>