/*div.fb-page.fb_iframe_widget{
	margin-bottom:4rem;
}*/

i.fa.fa-instagram{
	background: #517FA4;

}

li.instagram{
	background: #517FA4;
	border-color: #517FA4;
}

ul.social li.instagram {
	border-color: #517FA4;
}

div.widget-about-me{
	height:42rem;
}

.widget.about-me .widget-content .flip-container .flip .front .avatar img {
	width:235px;
}

li a:hover {	
	text-decoration: none;
	color: #aaf;
	text-shadow: none;
	-webkit-transition: 300ms linear 0s;
	-moz-transition: 300ms linear 0s;
	-o-transition: 300ms linear 0s;
	transition: 300ms linear 0s;
	outline: 0 none;
	color: #fff;
	text-shadow: 0px 0px 2px #ffc, 1px 0px 10px #fff;
}


/*li a {	
	text-decoration: none;
	color: #aaf;
	text-shadow: none;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	outline: 0 none;
	color: #fff;
	text-shadow: 0px 0px 1px #FFC, 1px 0px 2px #FFF;
}*/

.main-logo{
	max-width: 100%;
  	max-height: 100%;
}

a.navbar-brand.logo-img img {
	max-width: 100%;
  	max-height: 100%;
}

/*.post-content .post-photo:nth-child(n+2) {
	max-width: 32%;
}*/

div.bio{
	padding: 2rem;
  	font-size: 17px;
  	line-height: 1.55;
  	}

.widget .widget-content p {
  text-align: initial;
}

div.intro-text h1{
	text-align: center;
  	font-size: 100px;

}

#intro .intro-text h1 {
	text-align: center;
  	font-size: 100px;

}

body[data-uppercase="true"] #intro .intro-text h1 {
	text-transform: capitalize;
}

div.post-photo{
	max-height: 38rem;
  	max-width: 38rem;
  	text-align: center;
  	margin-left: auto;
  	margin-right: auto;
}

.post-content .post-photo {
	margin-left: auto;
  	margin-right: auto;
  }

  section.post-content p {
  	font-size: 15px;
  }

  section.post-content p:first-child div.post-photo{ 
  max-height: 75%;
  max-width: 75%;
}

div.large div.post-photo {
	max-width: 26rem;
	max-height: 38rem;
}

.widget .sf-search-widget .form-group .search-keyword-widget:focus {
	color:black;
	border-color:#5AC5A0;
}

.widget .sf-search-widget .form-group .search-keyword-widget:hover {
	border-color:#DC7075;
}

a.daniel-caruso{
	font-family: mistral;
	font-size: 18px;
}

.twitter-timeline-rendered{
	margin-left: auto !important;
margin-right: auto !important;
display: block !important;
}

.fb_iframe_widget span {
		margin-left: auto;
margin-right: auto;
display: block;
}

h3.widget-title{
	text-align: center;
}

iframe#twitter-widget-1.twitter-timeline.twitter-timeline-rendered{
		margin-left: auto !important;
margin-right: auto !important;
display: block !important;
}

.timeline {
max-width: 85% !important;
margin-bottom: 10px;
background-color: #FFF;
border-radius: 5px;
display: block !important;
margin-left: auto !important;
margin-right: auto !important;
margin-top: 10px !important;
}

div.fb-page.fb_iframe_widget span{
	display: block !important;
margin-left: auto !important;
margin-right: auto !important;
}

div.fb-page.fb_iframe_widget{
	display: block !important;
}

ins.adsbygoogle{
	display: block !important;
margin-left: auto;
margin-right: auto;
/*margin-bottom: 4rem;*/
}

iframe#ad_iframe{
border: 0px;
vertical-align: bottom;
width: 298px;
height: 248px;
position: absolute;
left: 0 !important;
margin-left: 0 !important;
top: 0px;
margin-top: 0px;
}

.page-info-section .share {
float: right;
}

.widget.about-me .widget-content .flip-container .flip .front .avatar {
	margin:0;
}

div.flip.clearfix{
	height: 415px !important;
}

body[data-uppercase="true"] .post-wrap .post .post-title {
text-transform: uppercase;
text-align: center;
}

.post-wrap .post .post-meta {
margin: 15px 0 15px 0;
text-align: center;
}

.page-info-section {
  background-color: #DCAA89;
  color: #fff;
  padding: 10px 0;
  overflow: visible;
  margin-bottom: 30px;
}

/*FOR SMALL INFO SECTION*/
/*.page-info-section {
background-color: #DCAA89;
color: #FFF;
padding: 10px 0;
overflow: visible;
margin-bottom: 0;
max-width: 1140px;
margin-left: auto;
margin-right: auto;
margin-top: -10rem;
margin-bottom: 2rem;
}*/


/*FOR SMALL INFO SECTION*/
.page-info-section .share {
min-width: 176px;
}

.page-info-section .share {
  float: right;
  margin-top: 10px;
 /* min-width: 0;*/
}

.widget .flickr-feed li a:after, .widget .instagram-feed li a:after, .widget .dribbble-feed li a:after {
	background-color:initial;
}

/*.widget .flickr-feed li a:after:hover, .widget .instagram-feed li a:after:hover, .widget .dribbble-feed li a:after:hover {
	background-color:black;
}*/

div.dad{
	display: none;
}


/*THIS IS FOR SMALLER BACKGROUND IMAGE */
section#intro.covered{
	background-image: url(/content/images/2015/07/IMG_654354982722.jpeg);
max-width: 1140px;
margin-left: auto;
margin-right: auto;
box-shadow: 3px 3px 3px #888;
}

/*THIS IS FOR FIXED BOX SHADOW BACKGROUND IMAGE */
/*section#intro.covered{
  background-image: url(/content/images/2015/07/IMG_654354982722.jpeg);
  background-position: 0px -140px;
  height: 60px;
}*/


/*div#author-info.post.tag-2015.tag-glassware.tag-learned.formatted {
	box-shadow: 2px 3px 1px #888;
}*/

.widget.social-widget .social {
text-align: center;
margin-bottom: 0;
}


#intro.covered:before {
	background: none;
}

/*section#intro.covered{
background-image: url(/content/images/2015/07/IMG_654354982722.jpeg);
bottom: 7rem;
margin-bottom: -4rem;
}*/

/*THIS IS FOR SMALLER NAVBAR */
/*nav.navbar.navbar-custom.style3{
max-width: 1140px;
margin-left: auto;
margin-right: auto;
margin-bottom: 10rem;
}*/

/*div.footer-mobile{
	display: none;
}
*/

body {
  font-family: 'PT Sans', sans-serif;
  color: #3A4145;
  font-size: 14px;
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  background-color: rgba(220, 170, 137, 0.28);
}

/*#intro.covered {
	padding:180px 0;
}*/


/*#intro.covered {
padding: 180px;
}*/

#intro.covered {
background-size: 100%;
background-position: center right;
-moz-background-size: inherit;
-webkit-background-size: cover;
-o-background-size: cover;
background-size: cover;
/*padding: 210px 0;*/
}

/*#intro.covered {
padding: 100px 0;
}*/

/*h1.tag.name{
	position:absolute;
    top:250px;
    left:140px;
    width:500px;
    height:50px;
    background-color:black;
    z-index:0;
    opacity:0.5;
}*/

div.intro-text h1 {
background-color: rgba(0, 0, 0, 0.5);
padding: 1px;
opacity: 50%;
max-width: 80%;
margin-left: auto;
margin-right: auto;
color: #5AC5A0;
}


ul.social li a {
  width: 30px;
}

.tequila.net {
padding-left: 10px !important;
padding-right: 10px !important;
text-align: center !important;
}

img.alignnone {
width:100%;
margin-left: auto;
margin-right: auto;
display: block;
}

div.widget.casa-noble img {
    width:100%;
}

div.widget.casa-noble {
width: 80%;
text-align: center;
margin-left: auto;
margin-right: auto;
}

div.widget.g4 img {
    width:100%;
}

div.widget.g4 {
width: 80%;
text-align: center;
margin-left: auto;
margin-right: auto;
}

div.widget.fortaleza img {
    width: 100%;
}

div.widget.fortaleza {
width: 80%;
text-align: center;
margin-left: auto;
margin-right: auto;
}

div.widget.t1 img {
    width:100%;
}

div.widget.t1 {
width: 80%;
text-align: center;
margin-left: auto;
margin-right: auto;
}

div.widget.el-tesoro img {
    width:100%;
}

div.widget.el-tesoro {
width: 80%;
text-align: center;
margin-left: auto;
margin-right: auto;
}

div.widget.tequila-match img {
    width:100%;
}

div.widget.mr-latino {
/*width: 80%;*/
text-align: center;
margin-left: auto;
margin-right: auto;
}

div.widget.mr-latino img {
width: 100%;
}

div.widget.villa-lobos {
width: 80%;
text-align: center;
margin-left: auto;
margin-right: auto;
}

div.widget.villa-lobos img {
width: 100%;
}

div.widget.tequila-ocho img {
width: 100%;
}

div.widget.tequila-ocho {
width: 80%;
text-align: center;
margin-left: auto;
margin-right: auto;
}


div.widget.siete-leguas img {
width: 100%;
}

div.widget.siete-leguas {
width: 60%;
text-align: center;
margin-left: auto;
margin-right: auto;
}

nav.navbar.navbar-custom.style3{
box-shadow: 0 9px 3px -8px rgb(124, 124, 124);
}


























@media (min-width:480px) and (max-width:768px) {

.img-responsive {
display: block;
height: auto;
max-width: 70%;
margin-left: auto;
margin-right: auto;
padding-top: 2rem;
}

.item-list .post .post-desc .post-title {
text-align: center;
}

.container {
padding-right: 55px;
padding-left: 55px;
margin-right: auto;
margin-left: auto;
}

.navbar-toggle {
	margin:0;
	border-color: #DC7075;
	border-width: 2px;
	margin-top: 5px;
}

.navbar-toggle i {
	color:#DC7075;
}

.navbar-brand{
	padding-top:10px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom:12px;
}

div.logo-area div.container{
	padding-right: 25px;
	padding-left: 25px;
}

#intro{
	margin-bottom:0;
}

div.col-md-8{
	margin-top: 2rem;
}

div.color{
background: #DC7075;
width: 100%;
height: 2rem;
/*margin-bottom: 1rem;*/
}

.logo-area {
	margin:0;
}

body[data-uppercase="true"] #intro .intro-text h1 {
text-transform: capitalize;
font-size: 52px;
}

body[data-uppercase="true"] .post-wrap .post .post-title {
text-transform: uppercase;
text-align: center;
}

.post-wrap .post .post-meta {
margin: 15px 0 15px 0;
text-align: center;
}

.page-info-section .share {
  float: none;
}

div.dad{
	display: initial;
}

div.widget.about-me {
margin-top: 5rem;
margin-left: 6rem;
margin-right: 6rem;
}

/*THIS IS FOR SMALLER BACKGROUND IMAGE */
section#intro.covered{
background-image: url(/content/images/2015/07/IMG_654354982722.jpeg);
width: inherit;
margin-left: auto;
margin-right: auto;
box-shadow: none;
}

/*section#intro.covered{
background-image: url(/content/images/2015/07/IMG_654354982722.jpeg);
bottom: 3rem;
margin-bottom: -3rem;
padding-bottom: 17rem;
}*/

div.widget.about-me {
margin-top: 5rem;
max-width: 32rem;
margin-left: auto;
margin-right: auto;
}
/*
div.footer-mobile{
	display: none;
}*/

section#intro.covered{
  background-image: url(/content/images/2015/07/IMG_654354982722.jpeg);
  background-position: initial;
  height: 60px;
}

div.widget.casa-noble {
width: 50%;
text-align: center;
margin-left: auto;
margin-right: auto;
}



}

























@media (max-width:479px) {

.container {
padding-right: 20px;
padding-left: 20px;
margin-right: auto;
margin-left: auto;
}

.img-responsive {
display: block;
height: auto;
max-width: 70%;
margin-left: auto;
margin-right: auto;
padding-top: 2rem;
}

.item-list .post .post-desc .post-title a {
line-height: 24px;
font-size: 16px;
}

.item-list .post .post-desc .post-title {
text-align: center;
}

.navbar-toggle {
	margin:0;
	border-color: #DC7075;
	border-width: 2px;
	margin-top: 5px;
}

.navbar-toggle i {
	color:#DC7075;

}

.navbar-brand{
	padding-top:10px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom:12px;
}

.logo-area {
	margin:0;
}

div.color{
background: #DC7075;
width: 100%;
height: 2rem;
/*margin-bottom: 1rem;*/
}

.page-info-section .breadcrumb li {
color: #FFF;
font-size: 12px;
}

/*.page-info-section .share .addthis_toolbox {
display: inline-block;
margin-left: auto;
margin-right: auto;
}*/

.post-wrap .post .post-title a {
font-weight: 700;
font-size: 22px;
line-height: 28px;
}

.post-wrap .post .post-title {
	text-align: center;
}

.post-wrap .post .post-meta {
margin: 15px 0 15px 0;
text-align: center;
}

#intro{
	margin-bottom:0;
}

div.col-md-8{
	margin-top: 0rem;
}

body[data-uppercase="true"] #intro .intro-text h1 {
text-transform: capitalize;
font-size: 32px;
}

.page-info-section .share {
  float: none;
}

div.dad{
	display: initial;
}

div.widget.about-me{
	  /*max-width: 72%;*/
  margin-left: 2rem;
  margin-right: 2rem;
    margin-top: 5rem;
}

.widget.about-me .widget-content .flip-container .flip .front .avatar img {
  max-width: 90%;
}

.widget.about-me .widget-content .flip-container .flip .front .info {
padding: 10px 5px;
text-align: center;
}

/*.widget.about-me .widget-content .flip-container .flip .front .info .name {
margin: 0;
font-size: 18px;
}*/

div.bio {
padding: 1rem;
font-size: 16px;
line-height: 20px;
}

.widget.about-me .widget-content .flip-container .flip .flip-back {
color: #FFF;
margin-top: 10px;
}

h3.name{
	font-size: 15px;
}

div.flip.clearfix {
height: 305px !important;
}

.widget.about-me .widget-content .flip-container .flip .front .avatar img {
border-radius: 50%;
width: 172px;
}

.widget {
padding: 10px 10px 30px 10px;
text-align: center;
}

.widget.about-me .widget-content .flip-container .flip .back .content .title {
margin: 10px 0;
font-size: 15px;
line-height: 18px;
color: #FFF;
}

div.bio p {
	margin-top:0;
}

/*THIS IS FOR SMALLER BACKGROUND IMAGE */
section#intro.covered{
background-image: url(/content/images/2015/07/IMG_654354982722.jpeg);
width: inherit;
margin-left: auto;
margin-right: auto;
box-shadow: none;
}

/*section#intro.covered{
background-image: url(/content/images/2015/07/IMG_654354982722.jpeg);
bottom: 0;
margin-bottom: 0;
bottom: 5rem;
margin-bottom: -3rem;
top: -3rem;
}
*/
div.widget.about-me {
margin-top: 5rem;
max-width: 30rem;
margin-left: auto;
margin-right: auto;
}

/*FOR SMALL FIXED WIDTH MOBILE*/
/*section#intro.covered{
background-image: url(/content/images/2015/07/IMG_654354982722.jpeg);
padding-bottom: 2rem;
padding-top: 7rem;
max-width: 30rem;*/


/*.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 8px;
  padding-left: 8px;
}*/

/*SKINNY WALLPAPER MOBILE*/
/*#intro.covered {
  padding-top: 30px;
  padding-bottom: 70px;
}*/

section#intro.covered{
  background-image: url(/content/images/2015/07/IMG_654354982722.jpeg);
/*  background-position: initial;*/
  height: 60px;
}

div#isotope-content.post-list.isotope{
	margin-top: 2rem;
}

/*div.widget.casa-noble img {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.widget.casa-noble {
  max-width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}*/

}

