<footer class="site-footer">
	<div class="bottom-footer">
		<div class="gotop">
			<a class="totop-btn" href="#"><i class="fa fa-chevron-up"></i></a>
		</div>
		<div class="copyright">
			Copyright &copy; 2015 <a href="/">Long Island Lou Tequila</a> All Rights Reserved.
			<br/>
			Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a>
		</div>
	</div>
</footer>