<div id="google_comments" class="g-comments"></div>
<!-- Begin Google Plus Comment-->
<script src="https://apis.google.com/js/plusone.js"></script>
<!-- End Google Plus Comment-->
<script type="text/javascript">
	var cwidth=document.getElementById('google_comments').offsetWidth;
	gapi.comments.render('google_comments', {
		href: '{{url absolute="true"}}',
		width: cwidth ,
		first_party_property: 'BLOGGER',
		view_type: 'FILTERED_POSTMOD'
	});
</script>