{{!< default}}
{{>intro/tag}}
<main class="body-content" role="main">
	<div class="container">
		<div class="row">
			<div class="col-md-8">				
				{{>loop/masonry}}
			</div>
			<div class="col-md-4">
				{{>sidebar/default}}
			</div>
		</div>
    </div>
</main>