<section class="page-info-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ol class="breadcrumb">
                    <li><a href="{{@blog.url}}"><i class="fa fa-sitemap"></i>  Home</a></li>
                    <li class="active">{{{title}}}</li>
                </ol>
            </div>
            <div class="col-md-4">
                <div class="share">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style ">
                        <a class="addthis_button_tweet"></a>
                        <a class="addthis_counter addthis_pill_style"></a>
                    </div>
                    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ee1eac8130b88cf"></script>
                    <!-- AddThis Button END -->
                </div>
            </div>
        </div>
    </div>
</section>