<ul class="social {{#if custom_class}}{{custom_class}}{{/if}}">
    <li class="twitter">
        <a href="https://twitter.com/loucaruso" target="_blank" title="Twitter"> <i class="fa fa-twitter"></i>
        </a>
    </li>
    <li class="facebook">
        <a href="https://www.facebook.com/pages/Long-Island-Lou-Tequila/641682619241422" target="_blank" title="Facebook"> <i class="fa fa-facebook"></i>
        </a>
    </li>
    <li class="google">
        <a href="https://plus.google.com/u/0/113239077182428725693/posts" target="_blank" title="Google">
            <i class="fa fa-google-plus"></i>
        </a>
    </li>
  <!--   <li class="linkedin">
      <a href="#" target="_blank" title="Linkedin">
          <i class="fa fa-linkedin"></i>
      </a>
  </li>
  <li class="skype">
      <a href="#" target="_blank" title="Skype">
          <i class="fa fa-skype"></i>
      </a>
  </li> -->
 {{!--    <li class="rss">
        <a href="/rss/" target="_blank" title="Rss Feed">
            <i class="fa fa-rss"></i>
        </a>
    </li> --}}
</ul>