<ul class="social {{#if custom_class}}{{custom_class}}{{/if}}">
     <li class="facebook">
        <a href="https://www.facebook.com/pages/Long-Island-Lou-Tequila/641682619241422" target="_blank" title="Facebook"> <i class="fa fa-facebook"></i>
        </a>
    </li>
    <li class="twitter">
        <a href="https://twitter.com/loucaruso" target="_blank" title="Twitter"> <i class="fa fa-twitter"></i>
        </a>
    </li>
    <li class="google">
        <a href="https://plus.google.com/u/0/113239077182428725693/posts" target="_blank" title="Google">
            <i class="fa fa-google-plus"></i>
        </a>
    </li>
    <li class="youtube">
        <a href="https://www.youtube.com/channel/UCRF8t5QNnP1FBdohOVuz3lg" target="_blank" title="Youtube">
            <img src="/assets/img/youtube-square.png">
        </a>
    </li>
    <li class="instagram">
        <a href="https://instagram.com/longislandloutequila/" target="_blank" title="Instagram">
            <i class="fa fa-instagram"></i>
        </a>
    </li>
      <li class="pinterest">
        <a href="https://www.pinterest.com/Loucaruso/" target="_blank" title="Pinterest">
            <i class="fa fa-pinterest"></i>
        </a>
    </li>
    <li class="dailymotion">
        <a href="http://www.dailymotion.com/long-island-lou-tequila?fbc=850" target="_blank" title="Daily Motion">
            <img src="/assets/img/dm.jpg" class="dm">
        </a>
    </li>

  <!--   <li class="linkedin">
      <a href="#" target="_blank" title="Linkedin">
          <i class="fa fa-linkedin"></i>
      </a>
  </li>
  <li class="skype">
      <a href="#" target="_blank" title="Skype">
          <i class="fa fa-skype"></i>
      </a>
  </li> -->
 {{!--    <li class="rss">
        <a href="/rss/" target="_blank" title="Rss Feed">
            <i class="fa fa-rss"></i>
        </a>
    </li> --}}
</ul>