{{>widget/search widget_title="Search"}}
{{>widget/about-me}}
{{>widget/recent-posts widget_title="Recent Posts" display="10" show_desc="true" show_pubdate="true"}}
{{>widget/image-ad ad_class="banner-ad" ad_image_url="http://previews.sunflowertheme.com/img/sample-ad-300X300.png" ad_url="http://www.sunflowertheme.com"}}
{{>widget/facebook-like widget_title="Like Us" fanpage_url="https://www.facebook.com/sunflower.theme" show_faces="true" show_header="true" show-stream="false" show_border="true"}}	
{{!>widget/google-plus-badge gpage_url="https://plus.google.com/115618351539604391074" custom_class="full-box"}}
{{>widget/dribbble widget_title="Dribbble Stream" user_name="dekkerslade" display="12" cols="3"}}	
{{>widget/social widget_title="Stay Connected"}}
{{>widget/text widget_title="Text Widget" text_content="<p>Put any text here, <strong>html tags</strong> also support</p>Cred listicle trust fund 8-bit Blue Bottle, tousled flannel pickled Neutra hoodie High Life. Meggings Pinterest master cleanse, fanny pack aesthetic small batch gluten-free try-hard pop-up Williamsburg. Meggings aesthetic pour-over mlkshk DIY. Sustainable paleo freegan, listicle normcore drinking vinegar crucifix mlkshk quinoa Echo Park scenester Helvetica."}}