<div class="widget about-me">
	<div class="widget-content">
		<div class="flip-container">
			<div class="flip clearfix">
				<div class="front">
					<div class="avatar">
						<img src="/shared/img/user-image.png" alt=""/>
					</div>
					<div class="info">
						<h3 class="name"></h3>
						<a href="#" class="flip-detail">More Detail &rarr;</a>
					</div>
				</div>
			</div>
		</div>
		<div class="flip-data">
			<div class="back">
				<div class="bio">
				<p>I'm a Tequila/Agave Connoisseur, Taster & Reviewer from Long Island, NY. I want to teach others what I know about ALL Agave spirits, keeping it simple and fun!
				</p>
				</div>

				<div class="content">
					<h3 class="title">My Links</h3>
					<ul class="social">
	                    <li class="twitter">
	                        <a href="https://twitter.com/loucaruso" target="_blank" title="Twitter">
	                            <i class="fa fa-twitter"></i>
	                        </a>
	                    </li>
	                    <li class="facebook">
	                        <a href="https://www.facebook.com/pages/Long-Island-Lou-Tequila/641682619241422" target="_blank" title="Facebook">
	                            <i class="fa fa-facebook"></i>
	                        </a>
	                    </li>
	                    <li class="google">
	                        <a href="#" target="_blank" title="Google">
	                            <i class="fa fa-google-plus"></i>
	                        </a>
	                    </li>
	                    <li class="pinterest">
        					<a href="https://www.pinterest.com/Loucaruso/" target="_blank" title="Pinterest">
            					<i class="fa fa-pinterest"></i>
        					</a>
    					</li>
      					<li class="instagram">
        					<a href="https://instagram.com/loucaruso1/" target="_blank" title="Instagram">
            					<i class="fa fa-instagram"></i>
        					</a>
    					</li>
	               <!--      <li class="linkedin">
	                   <a href="#" target="_blank" title="Linkedin">
	                       <i class="fa fa-linkedin"></i>
	                   </a>
	               </li>
	               <li class="skype">
	                   <a href="#" target="_blank" title="Skype">
	                       <i class="fa fa-skype"></i>
	                   </a>
	               </li> -->
	                </ul>
	                <a href="#" class="flip-back">&larr; Back</a>
				</div>
			</div>
		</div>
	</div>
</div>